@page
@model S2.AspNet.Repetition.Pages.IndexModel
@{
    ViewData["Title"] = "Forside";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Min første memegenerator</h1>
<div class="wrapper">
    <article>
        <form action="/NewMeme" method="get">
            <div class="memeWrapper">
                @{
                    foreach (MemeImage meme in Model.MemeImages)
                    {
                    <div class="memeSelector">
                        <img src=@meme.Url />
                        <input type="radio" name="imageselected" value="@meme.Url" />
                    </div>
                    }
                }

            <div class="memeSelector memeText">
                <input type="text" size="50" name="memeText" placeholder="Skriv din meme text" />
                <input type="text" size="50" name="memeName" placeholder="Give din meme et navn" />
                
                <div>
                    <p>text size for the meme</p><br />
                </div>
                <div class="text-size">
                    @{
                        for (int i = 0; i < 3; i++)
                        {
                            string id = "";
                            switch (i)
                            {
                                case 0:
                                    id = "small";
                                    break;
                                case 1:
                                    id = "medium";
                                    break;
                                case 2:
                                    id = "large";
                                    break;
                                default:
                                    break;
                            }
                            <div>
                                <input type="radio" name="TextSize" value="text-size-@id" id=@id />
                                <label for=@id>@id</label>
                            </div>
                        }
                    }
                </div>
                <div>
                    <p>text color for the meme</p><br />
                </div>
                <div class="text-color">
                    @{
                        for (int i = 0; i < 3; i++)
                        {
                            string color = "";
                            switch (i)
                            {
                                case 0:
                                    color = "white";
                                    break;
                                case 1:
                                    color = "black";
                                    break;
                                case 2:
                                    color = "red";
                                    break;
                                default:
                                    break;
                            }
                            <div>
                                <input type="radio" name="TextColor" value="text-color-@color" id=@color />
                                <label for=@color>@color</label>
                            </div>
                        }
                    }
                </div>
                    
                    <h4>text position</h4>
                    <div class="text-positions">
                        <div class="text-positions-endPoints">
                            @{
                                for (int i = 0; i < 3; i++)
                                {
                                    string topPlacement = "";
                                    switch (i)
                                    {
                                        case 0:
                                            topPlacement = "top-left";
                                            break;
                                        case 1:
                                            topPlacement = "top-center";
                                            break;
                                        case 2:
                                            topPlacement = "top-right";
                                            break;
                                        default:
                                            break;
                                    }
                                    <div>
                                        <input type="radio" name="textPosition" value=@topPlacement id=@topPlacement />
                                        <label for=@topPlacement>@topPlacement</label>
                                    </div>
                                }
                            }
                        </div>
                        <div class="text-positions-endPoints">
                            <div>
                                <input type="radio" name="textPosition" value="centered" id="rCentered" />
                                <label for="rCentered">Centered</label>
                            </div>
                        </div>
                        <div class="text-positions-endPoints">
                            @{
                                for (int i = 0; i < 3; i++)
                                {
                                    string bottomPlacement = "";
                                    switch (i)
                                    {
                                        case 0:
                                            bottomPlacement = "bottom-left";
                                            break;
                                        case 1:
                                            bottomPlacement = "bottom-center";
                                            break;
                                        case 2:
                                            bottomPlacement = "bottom-right";
                                            break;
                                        default:
                                            break;
                                    }
                                    <div>
                                        <input type="radio" name="textPosition" value=@bottomPlacement id=@bottomPlacement />
                                        <label for=@bottomPlacement>@bottomPlacement</label>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                    <br />
                    <input type="submit" value="Generer meme" />
            </div>         
        </form>
    </article>
</div>




