@page
@model S2.AspNet.Repetition.Pages.NewMemeModel
@{
    ViewBag.Title = Model.MemeName;
}


<div class="newMemeWrapper">
    <br />
    @if (Model.MemeText != "")
    {
        <h2>@Model.MemeName</h2>
        <div class="generatedMeme @Model.TextSize">
            <img src="@Model.SelectedImageUrl" />
            <div class="@Model.TextPosition">
                @Model.MemeText
            </div>
        </div>
    }

    <a href="/Index" class="center">Tilbage til memegeneratoren</a>
</div>

