@page
@model S2.AspNet.Repetition.Pages.RandomeMemeModel
@{
    ViewData["Title"] = "RandomeMeme";
}

<div class="newMemeWrapper">
    <br />
        <div class="generatedMeme @Model.MemeCreated.Size ">
            <img src="@Model.MemeImg.Url" />
            <div class="@Model.MemeCreated.Position @Model.MemeCreated.Color">
                @Model.MemeCreated.MemeText
            </div>
        </div>
    <a href="/Index" class="center">Tilbage til memegeneratoren</a>
</div>

