@page
@model S2.AspNet.Repetition.Pages.StatisticsModel
@{
    ViewData["Title"] = "Statistics";
}

<h1>Statistics</h1>

<div class="newMemeWrapper">
    <br />
    @{
        Model.GetLatestMeme();
    }


    <h2>Latest meme created</h2>
    <div class="generatedMeme @Model.MemeCreation.Size ">
        <img src="@Model.MemeImg.Url" alt="@Model.MemeImg.AltText" />
        <div class="@Model.MemeCreation.Position @Model.MemeCreation.Color">
            @Model.MemeCreation.MemeText
        </div>
    </div>

    @{
        Model.MostUsedImage();
        }

    <h2>Most used image</h2>
    <div>
        <img src="@Model.MemeImg.Url" alt="@Model.MemeImg.AltText" />
    </div>

    <a href="/Index" class="center">Tilbage til memegeneratoren</a>
</div>